<!--
 MOCAP.WEB - Werbprojekt und Interaktive Systeme
 Supervisors: Prof. Gruenvogel, Lo Iacono
 TH Koeln SS 2016
 Author: Lukas Ungerland
-->

<div class="actor" >
	<div class="container content-section">
		<div class="form">

			<div class="signupcont">


				<h2>register a new actor</h2>

				<%= render 'form' %>

			</div>


		</div>
	</div>
</div>
