<div class="actor" >
	<div class="container content-section">
		<div class="form">

			<div class="signupcont">

				<h2>register a new actor</h2>

				<%= render 'form' %>

			</div>


		</div>
	</div>
</div>

<!-- Script to activiate navigation -->

<script type="text/javascript">
$(function() {
	$('#nav-login').addClass('active');
});

$(document).ready(function() {
	$(".js-example-placeholder-single").select2({
		placeholder: "Select a gender",
		allowClear: true,
		minimumResultsForSearch: -1
	});
});

</script>

