<div class="actor" >
	<div class="container content-section">
		<div class="form">

			<div class="signupcont">
				
				<h2>upload a new mocap-file</h2>

				<%= render 'form' %>

			</div>

		</div>
	</div>
</div>
