//  Mixins

.mocap-textbox {
	color: $color03;
	background-color: transparent;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	outline: none;
	width: 150px;
	height: auto;
	border: 1px solid $color01;
	padding: 10px;
	border-radius: 0px;
}

.mocap-textbox-hov:hover {
	border: 1px solid $color01;
	outline: 0;
	color: $color03;
	background-color: $color01;
}

.mocap-textbox:focus {
	border: 1px solid $color01;
	outline: 0;
	color: $color03;
	background-color: transparent;
}

.textbox-wrong {
	border: 1px solid $color06;
	background-color: $color07;
}

.mocap-navbar-hov:hover {
	color: transparent;
	background-color: $color01;
}

.textbox-wrong:after {
	color: $color03;
	background-color: transparent;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	outline: none;
	width: 150px;
	height: auto;
	border: 1px solid $color01;
	padding: 10px;
}

.mocap-dropdown {
   margin: 50px;
    border: 1px solid #111;
   background: transparent;
   width: 150px;
   padding: 5px 35px 5px 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
    background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
} 

/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) { 
    select {
        background:none;
        padding: 5px;
    }
}



