//  Mixins
.gross {
	text-transform: uppercase;
}

.capital {
	text-transform: capitalize;
}

.body-color-dark {
	color: $color04;
	background-color: $color02 !important;

	a {
		color: $color01;

		&:hover
		&:focus {
			text-decoration: none;
			color: $color01;
		}
	}

	.mocap-textbox {
		color: $color01;
		background-color: 29503D;
	}

	.mocap-textbox-hov:hover {
		color: $color05;
		background-color: $color01;
	}

	.mocap-textbox:focus {
		color: $color05;
		background-color: $color02;
	}
}

.body-color-light {
	color: $color02;
	background-color: $color03 !important;

	a {
		color: $color01;

		&:hover
		&:focus {
			text-decoration: none;
			color: $color01;
		}
	}

	.mocap-textbox {
		color: $color02;

		//lightgrey
		background-color: 29503D;

		//darkgrey

	}

	.mocap-textbox-hov:hover {
		color: $color02;
		background-color: $color01;
	}

	.mocap-textbox:focus {
		color: $color02;
		background-color: $color02;
	}
}

.mocap-textbox {
	color: $color03;
	background-color: transparent;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	outline: none;
	margin: 10px;
	width: 300px;
	height: auto;
	border: 1px solid $color01;
	padding: 10px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.mocap-textbox-hov:hover {
	border: 1px solid $color01;
	outline: 0;
	color: $color03;
	background-color: $color01;
}

.mocap-textbox:focus {
	border: 1px solid $color01;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $color03;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $color03;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $color03;
	outline: 0;
	color: $color03;
	background-color: transparent;
}

#mocap-btn:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: $color01 !important;
}

.mocap-textbox-click {
	border: 1px solid $color01 !important;
	background-color: transparent !important;
}

.textbox-wrong {
	border: 1px solid $color06;
	background-color: $color07;
}

.mocap-navbar-hov:hover {
	color: transparent;
	background-color: $color01;
}
