/* 
 MOCAP.WEB - Werbprojekt und Interaktive Systeme
 Supervisors: Prof. Gruenvogel, Lo Iacono
 TH Koeln SS 2016
 Author: Anja Bergmann


*///Variables

//Paths
$background-url: "/video.gif";

//Color Palette02
$color00:black;
$color01:#45B69A;  //green
$color02:#3A3433; //schrift grey
$color03:#F2F2F2; //background front
$color04:#FFF; //white
$color05:#000; //black
$color06:#c90c11; //red1
$color07:#350e04; //red2
$color08:#e1e3e4; //backgroundgrey FrontEnd

