@import variables;

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}
.search-section{
	display: flex;
	flex-direction: row;
	justify-content:space-around; 
	flex-wrap:wrap;
}
.dropdown{
	border:none;
}
select option:first-child{
	color: $color05;
	border: none;
	background-color: transparent;
	display: none;
}
select option{
	color: $color05;
}

.row{
	padding-bottom: 10px;
}

.content-box{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:center;
	width: 100%;
	height: auto;
}
.motions-container{
	margin: 0px;
	padding:0px;
	display: flex;
	flex-wrap:wrap;
	justify-content:center; 
	clear: left;
	width: 100%;
	height: auto;
	border: solid none;
	float: left;
}
.motion-box{
	border: none;
	background-color: #fcfcfc;
	display:flex;
	flex-direction: column;
	justify-content:flex-start;
	flex-direction: row;
	flex-wrap:wrap;
	align-items:stretch;
	padding: 0;
    margin: 5px;
    width: 160px;
    height: 210px;
    box-sizing: border-box;
}
.motion-content{
	overflow: hidden;
	position: absolute;
	text-align: center;
	background-color: lightgray;
	background-image: '/assets/bild.jpg';

	color: black;
	padding: 10px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
}
.motion-box:hover .motion-content{
	opacity:0.9;
}
.motion{
	width: 160px;
	height: 210px;
}

.view-container{
	margin: 0;
	padding: 0;
}
.player-box{
	margin: 0;
	padding: 0;
}
.motion-description{
	padding-top: 2%;
}

h4.motion-font{
	font-size: 20px;
	padding: 0px;	
	margin: 0px;
}
.motion-font{
	font-size: 14px;
	padding-top: 2%;
	padding-bottom: 5%;
	margin: 0px;
}


