@import variables;

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}
.search-section{
	display: flex;
	flex-direction: row;
	justify-content:space-around; 
	flex-wrap:wrap;
}
.dropdown{
	border:none;
}
select option:first-child{
	color: $color05;
	border: none;
	background-color: transparent;
	display: none;
}
select option{
	color: $color05;
}

.row{
	padding-bottom: 10px;
}
.container-fluid{
	margin-top: 50px;
}
.content-box{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: 0;
	justify-content:center;
	width: 100%;
	height: auto;
}
.gif-container{
	display: flex;
	flex-wrap:wrap;
	justify-content:center; 
	clear: left;
	width: 100%;
	height: auto;
	border: solid none;
	float: left;
}
.gif-box{
	border: none;
	background-color: #fcfcfc;
	display:flex;
	justify-content:flex-start;
	flex-direction: row;
	flex-wrap:wrap;
	align-items:stretch;
	padding: 0;
    margin: 5px;
    width: 160px;
    height: 210px;
    box-sizing: border-box;
}
.gif-content{
	overflow: hidden;
	position: absolute;
	text-align: center;
	background-color: lightgray;
	color: black;
	padding-left: 5px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
}
.gif-box:hover .gif-content{
	opacity:0.9;
}
.gif{
	width: 160px;
	height: 210px;
}
.player-box{
	margin-top: 2%;
}
.player-display{
	display: flex;
	justify-content: center;
	background-color: black;
	width: auto;
	height: 500px;
}
.player-content{
	justify-content: flex-start;
	align-items:flex-start;
	text-align: center;
	background-color: #fcfcfc;
	color: #171719;
	flex-wrap:wrap;
	padding: 2%;
}
.player-text{
	text-align: center;
	width: 50%;
}

/****************************************
  ==== RESETS
****************************************/

::-moz-selection { color: #333; text-shadow: none; }
::selection {  color: #333; text-shadow: none; }
.clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear { display: inline-table; clear: both; }
/* Hides from IE-mac \*/ * html .clear { height: 1%; } .clear { display: block; } /* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/
div.fullscreen{
	width: 38;
	height: 38;
	float: right;
	position: relative;
}
div.logo { 
	width: 204px; 
	height: 38px; 
	float: right;  
	position: relative; 
	z-index: 10; 
}
div.title { 
	height: 38px; 
	line-height: 38px; 
	padding: 0 10px; 
	margin: 0 1px 0 0; 
	float: right; 
	color: #333; 
	text-align: right; 
	font-size: 18px; 
	position: relative; 
	z-index: 10; 
}
.template-wrap { 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	-webkit-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%); 
}
.template-wrap canvas { 
	margin: 0 0 10px 0; 
	position: relative; 
	z-index: 9; 
	box-shadow: 0 10px 30px rgba(0,0,0,0.2); 
	-moz-box-shadow: 0 10px 30px rgba(0,0,0,0.2); 
}
.fullscreen { 
	float: right; 
	position: relative;
	z-index: 10; 
}

body.template { }
.template .template-wrap { }
.template .template-wrap canvas { }

