// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mocap-textbox {
	margin: 10px;
	width: 300px;

}

.signupcont {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
	padding-left: 10%;
	padding-right: 10%; 
}

.error-field {
	width: 400px;
	background-color: $color07;
	border-color: $color06;
	color: $color06;
	text-align: left;
	margin: auto;
	margin-bottom: 20px;
}

.backend-row {
	padding-bottom: 0px;
	padding-top: 0px;
}

.backend-field {
	padding-bottom: 20px;
}

input::-webkit-input-placeholder {
color: $color01 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: $color01 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: $color01 !important;  
}
 
input:-ms-input-placeholder {  
color: $color01 !important;  
}
