<!--
 MOCAP.WEB - Werbprojekt und Interaktive Systeme
 Supervisors: Prof. Gruenvogel, Lo Iacono
 TH Koeln SS 2016
 Author: Lukas Ungerland
-->

<% if @motion.errors.any? %>
	<div class="mocap-textbox error-field">
		The form contains <%= pluralize(@motion.errors.count, "error") %>
		<ul>
			<% @motion.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
