<!-- Script to activiate navigation -->

<script type="text/javascript">
$(document).ready ( function(){
document.getElementById("nav-searchpage").className += "active";
});

<!-- Search Section -->
</script>
<section id="searchbar" class="container content-section">
	<div class="container">
		<div class="search-section text-center" id="search-section">
			<form class="form-inline" action="/TODO" method="GET">
				<div class="form-group">
					<% ["Actor", "Gender", "Role", "Mood"].each do |e| %>
					<select class="from-control mocap-textbox mocap-textbox-hov">
						<option value="" disabled selected>Choose <%= e%></option>
						<option>option 1</option>
						<option>option 2</option>
					</select>
					<% end %>
					<input type="text" class="mocap-textbox mocap-textbox-hov" placeholder="Search for snippets" />
				</div>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</form>
			<h3><small> found motions: xxx</small></h3>
		</div>
	</div>
	<div class="container-fluid">
		<!-- Page Header -->
		<div class="row">
			<div class="container">
				<h1>most popular </h1>
			</div>
		</div>
		<!-- /.row -->
		<div class="row content-box container">
			<div class="gif-container">
				<% 12.times do  %>
				<div class="col-sm-3 gif-box">
					<img class="gif" src="/TODO" alt="#">
					<div class="gif-content">
						<a href="#"><h3>Motion</h3></a>
						<p>Attributes</p>
												leider nein, leider gar nicht.
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
				<% end %>
				
				<!-- Pagination -->
				<div class="row text-center">
					<div class="col-md-12">
						<ul class="pagination">
							<li>
								<a href="#">&laquo;</a>
							</li>
							<% 5.times do |n| %>
							<li >
								<a href="#"><%= n+1 %></a>
							</li>
							<%end %>
							<li>
								<a href="#">&raquo;</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6" id="unity_player">
				<div class="player-display">
					<canvas class="emscripten player-display" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
				</div>
				<div class="player-content">
					<div class="fullscreen">
						<%= image_tag "fullscreen.png", :onclick => "SetFullscreen(1)" %>
					</div>
					<div class="logo">
						<%= image_tag "unity_logo.png" %>
						<p class="footer">&laquo; created with <a href="http://unity3d.com/" title="Go to unity3d.com">Unity</a> &raquo;</p>
					</div>
					<div >
						<h3>Motion</h3>
						<p>Attributes</p>
xxx
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

